@import '_variables.scss';

$card_border_color: rgba(0,0,0,0.1);

#appSamples, .sample:not([is-active]) {
    display: none;
}

//----- forms
.form-packed {
    .group {
        /*display:none;
        background:rgba(0,0,0,0.3);*/
        > label {
            font-weight: bold;
            width: 100%;

            > .input {
                height: unset;
                border: none;
            }
        }

        > .inputs {
            flex-grow: 1;

            &:not(:last-child) {
                padding-right: $default_spacing;
            }

            .input {
                width: 100%;
            }
        }
    }

    .table {
    }
}

//
.form-default {
    display: table;
    width: 100%;

    &.striped {
        .group:nth-child(2n) {
            background-color: rgba(0,0,0,0.05);
        }
    }

    .group {
        width: 100%;
        display: table-row;
        padding: 5px;

        > label {
            padding: 5px;
            padding-right: 10px;
            display: table-cell;
            max-width: 200px;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-word;
            word-break: break-word;
            vertical-align: middle;
        }

        > .inputs {
            flex-grow: 1;
            display: table-cell;
            padding: 5px;
            padding-left: 0;

            .input {
                width: 100%;
            }
        }

        &.bold {
            label, .input {
                font-weight: bold;
            }
        }
    }
}

//form inlint
.form-inline {
    display: flex;

    .group {
        display: flex;
        margin-right: 15px;

        > label {
            font-weight: bold;

            select.input {
                border: none;
            }
        }
    }
}

//----- dialogs
#appDialogs {
    z-index: 200;
}

p-dialog {
    @include fix-container(0);
    background: rgba(50,50,50,0.4);
    display: none;
    padding: 15px;

    &.full {
        p-content {
            width: 100%;
        }
    }

    &.top {
        p-content {
            margin-top: 0;
        }
    }
    //    animation:fadeout 0.2s linear forwards;
    &[is-active] {
        display: flex;
        z-index: 70;
        //        animation:fadein 0.2s linear forwards;
    }

    > p-content {
        background: white;
        margin: auto;
        padding: 15px;
        min-width: 200px;
        border: 1px solid $color_grey_med;
        position: relative;
        animation:span ease-out 300ms;

        > p-head {
            margin-bottom: $default_spacing;

            h4 {
                margin: 0;
                border-bottom: thin solid #ccc;
                color: $color_primary;
                margin-bottom: $default_spacing;
            }
        }

        > p-body {
            line-height: $line_height_roomy;
            display: block;

            &:not(.overflow) {
                overflow: auto;
            }
        }

        > p-foot {
            margin-top: $default_spacing;
            margin-bottom: -$default_spacing;

            button {
                min-width: 100px;
            }

            &.actions {
                margin-bottom: -10px !important;
            }
        }
    }
}

.confirm-dialog {
    p-content {
        max-width: 300px;
        text-align: center;
    }

    .confirm-msg {
        font-weight: normal;
    }
}

//--- content tab
crud-tab {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: $default_spacing;

    > p-head {
        display: inline-flex;
        position: relative;
        justify-content: space-between;
        margin-bottom: $default_spacing;
        flex-shrink: 0;

        > div {
            display: flex;
            align-items: center;
            min-width: 1px;
            flex-grow: 1;

            &:not(:first-child) {
                margin-left: 2px;
            }
        }

        &.filter-shown {
            p-menu {
                //TODO kok g jalan?
                &.shown:first-of-type {
                    border-top-left-radius: 20px;
                }

                &.shown:last-of-type {
                    border-top-right-radius: 20px;
                }

                &.shown:not(:last-of-type) {
                    border-right: none;
                }
            }
        }

        &:not(.filter-shown) {
            p-menu {
                &:first-child {
                    border-top-left-radius: 20px;
                }

                &:last-child {
                    border-top-right-radius: 20px;
                }

                &:not(:last-child) {
                    border-right: none;
                }
            }
        }

        p-menu {
            padding: 0 $default_spacing;
            position: relative;
            cursor: default;
            display: flex;
            align-items: center;
            height: 10mm;
            border: 1px solid #ccc;
            overflow: hidden;
            text-overflow: ellipsis;
            justify-content: center;
            //min-width: 13mm;
            max-width: 200px;
            flex-grow: 1;
            line-height: 2em; //ekor huruf g kecil kepotong kalau tidak dilebarkan
            &[is-active] {
                color: $color_primary_light;
                border-top: 4px solid $color_primary_light;
                border-bottom: none;
                border-left-color: $color_primary_light;
                padding-top: 0;
                font-weight: bold;

                b {
                    font-weight: bold;
                }

                + p-menu {
                    border-left-color: $color_primary_light;
                }

                &:last-child {
                    border-right-color: $color_primary_light;
                }
            }

            > b {
                margin: 0;
                overflow: hidden;
                font-weight: normal;
            }

            &.unsaved {
                &::after {
                    content: '*';
                    padding-left: 5px;
                    color: $color_primary_light;
                }
            }
        }

        [btn] {
            padding: 0 $default_spacing;
            position: relative;
            cursor: default;
            display: flex;
            align-items: center;
            height: 10mm;
            text-transform: uppercase;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: unset;
            /*&:first-child {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            &:last-child {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }*/
            > i {
                font-size: 1.3em;
            }
        }

        [crud-role=heads_detail] {
            justify-content: center;

            p-menu {
                flex-grow: 1;
            }

            &:last-child {
                justify-content: flex-end;

                p-menu {
                }
            }
        }

        [crud-role=heads_action] {
            flex-grow: 0;
        }
    }

    > p-body {
        > p-content {
            position: relative;
            float: left;
            width: 100%;
            line-height: $line_height_roomy;

            &:not([is-active]) {
                display: none;
            }

            > p-body {
                float: left;
                width: 100%;
            }

            > p-footer {
                margin-top: 15px;
                padding: 10px;
                background-color: $color_grey_dark;
                float: left;
                width: 100%;

                .btn {
                    text-transform: uppercase;
                    font-weight: bold;
                    background: transparent;
                }
            }
        }
    }

    [crud-view=list] {
        .actions {
            display: flex;
            /*flex-wrap: wrap;*/
            justify-content: space-between;

            > div:first-child {
                flex-wrap: wrap;
                align-items: center;
                flex-grow: 999999999;
            }

            [btn] {
                min-width: 10mm;
            }

            label {
                font-weight: bold;
                padding: 3px 5px;
            }

            p-datepicker {
                width: 130px !important;

                > input.input {
                    /*width: 130px !important; //spy kecil di filtercrudlist*/
                }
            }

            select, input, p-chooser, .input {
                width: unset;
            }
        }

        .crudtab-list_nav {
            flex-grow: 1;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            min-width: 140px;

            button, span, input {
                margin-right: 0 !important;
            }

            span {
                padding: 0 5px;
            }
        }

        .list_nav-current {
            width: 50px !important;
        }

        [crud-role=list_status] {
            text-align: center;
            font-size: small;
            background: rgba(0,0,0,0.05);
            padding: 5px;
        }
    }

    $colorActionBar: rgba(0,0,0,0.05);

    .action-bar {
        margin-bottom: $default_spacing;
        padding: 0;
        background-color: $colorActionBar;
        float: left;
        width: 100%;

        p-body {
            overflow: visible;
        }

        button {
            height: 10mm;
            text-transform: uppercase;
            font-weight: bold;
            background: transparent;
            border-radius: 0;
            color: $color_secondary_dark;
            border: none;
            padding: 0 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 10mm;
        }

        .dropdown {
            &:hover {
                ul {
                    display: block;
                }
            }

            ul {
                background: #eee;
                border-bottom: 5px solid #e3e3e3;

                li {
                    width: 100%;
                }
            }
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

//----- loading
.loading-status {
    display: none;
}

.show-loading {
    & > :not(.loading-status) {
        //display: none !important;
    }

    $color_strip1: rgba(0,0,0,.04);
    $color_strip2: rgba(50,50,50,.03);
    $loading_stripe_size: 30px;

    > .loading-status {
        @include absolute-container(0);
        display: flex;
        min-height: 50px;
        background: rgba(216, 216, 216, 0.52);
        z-index: 30;
        overflow: hidden;
        /*background-size: $loading_stripe_size $loading_stripe_size;
        background-image: repeating-linear-gradient(45deg,$color_strip1 0%,$color_strip1 12.5%,$color_strip2 12.5%,$color_strip2 37.5%,$color_strip1 37.5%,$color_strip1 62.5%,$color_strip2 62.5%,$color_strip2 87.5%,$color_strip1 87.5%);
        animation: strip_anim linear 800ms infinite;*/
        .loading {
            margin: auto;
            padding: 10px;
            border-radius: 10px;
            text-align: center;

            .spinner > div {
                background-color: rgba($color_primary_light, 1);
                /*box-shadow:0 0 15px 4px rgba($color_primary_light, 1);*/
            }

            > .text:not(:empty) {
                margin-top: 5px;
                color: #333;
                font-weight: bold;
                font-size: 1.8em;
            }
        }
    }

    @-moz-keyframes strip_anim {
        from {
            background-position: 0 0;
        }

        to {
            background-position: (2*$loading_stripe_size) 0px;
        }
    }

    @-webkit-keyframes strip_anim {
        from {
            background-position: 0 0;
        }

        to {
            background-position: (2*$loading_stripe_size) 0px;
        }
    }

    @keyframes strip_anim {
        from {
            background-position: 0 0;
        }

        to {
            background-position: (2*$loading_stripe_size) 0px;
        }
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

//--- item-list
ul.item-list {
    list-style: none;
    padding-left: 0;

    > li {
        padding: 5px;
        background-color: white;

        &:not(:last-child) {
            border-bottom: thin solid #ccc;
        }

        > img {
            max-height: 80px;
        }
    }
}

//--- card
.card {
    background: #fff;
    padding: $default_spacing;
    border: 1px solid $card_border_color;
    position: relative;

    > .head > .title, > .title {
        margin-top: 0;
        font-weight: bold;
        color: $color_primary;
        border-bottom: 1px solid #ccc;
        margin-bottom: $default_spacing;
    }

    > .title::after {
        content: '\f0d8';
        display: block;
        font-family: FontAwesome;
        float: right;
    }

    > .head {
        border-bottom: 1px solid #ccc;
        display: flex;
        margin-bottom: $default_spacing;

        > .title {
            border-bottom: none;
            margin: 0;
            flex-grow: 1;

            &::before {
                content: '\f0d8';
                display: block;
                font-family: FontAwesome;
                float: left;
                padding-right: 5px;
            }
        }

        > .actions {
            float: right;
            margin-top: -10px;

            button {
                width: 8mm;
                margin: 0;
                justify-content: center;
                align-items: center;

                i {
                    margin: 0;
                }
            }
        }
    }

    > .body {
        overflow: auto;
        position: relative;
        transition: height 300ms;

        &.overflow {
            overflow: visible;
        }

        .actions {
            text-align: center;
        }
    }

    &.collapse {
        overflow: hidden !important;

        > .head > .title::before, > .title::after {
            content: '\f0d7';
        }
    }

    &.orange, &.red, &.blue, &.green {
        border-top: 0;
        border-bottom: 0;
        border-left-width: 10px;
        border-right-width: 10px;
    }

    &.orange {
        border-color: $color_yellow;
    }

    &.red {
        border-color: $color_red;
    }

    &.blue {
        border-color: $color_blue;
    }

    &.green {
        border-color: $color_green;
    }
}

.card-deck {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    &.spaced {
        margin-right: -$default_spacing;

        > div {
            flex-grow: 1;

            &:not(:empty) {
                margin-right: $default_spacing;
                margin-bottom: $default_spacing;
            }
        }
    }
}

p-tab {
    p-head {
        display: inline-flex;
        position: relative;
        z-index: 10;
        margin-bottom: -1mm;

        button {
            background: none;
            border: none;
            padding: 5px $default_spacing;
            height: 10mm;
            font-weight: bold;
            /*&:not(:last-child) {
                border-right: thin solid $card_border_color;
            }*/
            &:not(:first-child) {
                border-left: thin solid $card_border_color;
            }

            &[is-active] {
                background: white;
                color: $color_primary;
                padding-bottom: 3px;
                margin-bottom: 3px;
                border: thin solid $card_border_color;
                border-bottom: none;

                + button {
                    border-left: 0;
                }
            }
        }
    }

    p-body {
        > div {
            &:not([is-active]) {
                display: none !important;
            }
        }
    }

    &.expand {
        p-head {
            width: 100%;

            > [tab] {
                width: 100%;
                display: inline-flex;
            }

            button {
                flex-grow: 1;
                max-width: 200px;
            }
        }
    }
}

//--- numbering
.numbering-reset {
    counter-reset: numb;

    .numbering::before {
        content: counter(numb);
        counter-increment: numb;
    }
}


//--- table
p-table {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: table;
    width: 100%;

    &.compact {
        p-c.sub {
            padding-bottom: 0 !important; //kalau yang compact
        }

        p-c:not(.sub) {
            padding-top: 4px !important;
            padding-bottom: 4px !important;

            > button {
                min-height: unset;
            }

            &.c-img {
                img {
                    max-height: 25px;
                }
            }
        }
    }

    p-head {
        display: table-header-group;

        p-r {
            display: table-row;
            width: 100%;

            p-c {
                text-align: center;
                vertical-align: middle;

                &:not(.sub) {
                    white-space: normal;
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: bold;
                    padding: 8px;
                    //display: flex;
                    justify-content: center;
                    align-items: center;
                    display: table-cell;
                    border-bottom: 2px solid #ddd;
                }

                &:not([w]) {
                    flex-grow: 1;
                }

                &:not(:last-child) {
                    border-right: thin solid #cecece;
                }
            }
        }
    }

    p-body {
        //display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        display: table-row-group;

        p-r {
            display: table-row;
            /*animation: span-y linear 300ms;*/

            @for $i from 1 through 50 {
                &:nth-child(#{$i}) {
                    /*animation-delay: #{20*$i}ms;*/
                }
            }

            &:nth-child(2n) {
                background-color: rgba(0,0,0,.05);
            }

            &.has-action:hover {
                background-color: $color_secondary_transparent;
            }

            p-c {
                display: table-cell;
                flex-grow: 1;
                flex-shrink: 0;
                line-height: $line_height_roomy;

                &:not(.sub) {
                    padding: 8px;
                    -ms-word-break: break-word;
                    word-break: break-word;
                    vertical-align: middle;
                    // cell styles
                    &.c-btn {
                        width: 1px;
                        padding: 0 !important;
                        height: 100%;

                        > [btn] {
                            white-space: nowrap;
                        }

                        > div {
                            display: flex;

                            [btn] {
                                flex-grow: 1;
                                min-width: 10mm !important;
                            }
                        }
                    }
                    //small content
                    &:not(.c-grow) {
                        //TODO it should fit content
                        //width: 10px;
                        //                        white-space: nowrap;
                    }

                    &.c-num {
                        //number
                        text-align: center;
                    }

                    &.c-mid {
                        text-align: center;
                    }

                    &.c-img {
                        padding: 0 !important;
                        text-align: center;
                        position: relative;
                        min-width: 50px;
                        max-width: 100px;

                        &:hover img {
                            position: absolute;
                            height: 300px;
                            border: 5px solid #fff;
                            animation: span 0.4s cubic-bezier(0.74, 0.03, 0.27, 1.55) forwards;
                            transform-origin: left;
                            top: -150px;
                            left: 0;
                            margin-left: 100%;
                            z-index: 10;
                            max-width: 500px;
                            max-height: unset;
                        }

                        img {
                            max-height: 30px;
                            max-width: 100%;
                        }
                    }

                    &.numbering {
                        text-align: right;
                    }
                }

                .badge, .badge-right {
                    //border: thin solid #999;
                    //                    border-radius: 20px;
                    background: none;
                    padding: 5px;
                    display: inline-block;
                }

                .badge {
                    &:not(:only-child) {
                        margin-right: 5px;
                    }
                }

                .badge-right {
                    float: right;

                    &:not(:only-child) {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    p-foot {
        //        display: flex;
        display: table-header-group;

        p-r {
            //            display: flex;
            display: table-row;
            width: 100%;

            p-c {
                text-align: center;
                vertical-align: middle;

                &:not(.sub) {
                    white-space: nowrap;
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: bold;
                    padding: 8px;
                    //display: flex;
                    justify-content: center;
                    align-items: center;
                    display: table-cell;
                    border-top: 2px solid #ddd;
                }

                &:not([w]) {
                    flex-grow: 1;
                }

                &:not(:last-child) {
                    border-right: thin solid #cecece;
                }
            }
        }
    }

    .sub {
        display: flex;

        &.sub-v {
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;

            > p-c {
                border-right: none;

                &:not(:last-child) {
                    border-bottom: thin solid #cecece;
                }
            }
        }

        &:not([w]) {
            flex-grow: 1;
        }
    }
    //---cell content
    p-c {
        > [btn] {
            @include button-text;

            &:not(.noshrink) {
                min-height: unset;
            }

            &:not(.hidden):only-of-type {
                height: 100%;
                width: 100%;
            }
        }
        //input in table
        .input {
            width: 100%;
        }
        //whole
        .input-whole {
            max-width: unset;
        }
    }

    $width_base: 20px;
    $width_add: 10px;

    $pad_base: 10px;
    $pad_add: 15px;

    [lvl] > p-c.lvl-mark {
        position: relative;

        &::before {
            display: inline-block;
            margin-right: 3px;
            border-left: 2px solid rgba($color_primary_dark, 0.7);
            border-bottom: 2px solid rgba($color_primary_dark, 0.7);
            height: 50%;
            width: 7px;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    [lvl='0'] > p-c.lvl-mark::before {
        border: none;
        width: 0;
    }

    @for $i from 1 through 5 {
        [lvl='#{$i}'] > p-c.lvl-mark::before {
            margin-left: #{0+15*$i}px;
        }

        [lvl='#{$i}'] > p-c.lvl-mark {
            padding-left: #{10+15*$i}px;
        }
    }
    //subtable
    .subtable {
        > .header {
            background: rgba(0,0,0,0.2);

            div {
                font-weight: bold;
                text-align: center;
                font-size: small;
            }
        }
    }
}

//--- tree
.tree {
    > div {
        width: 100%;
        display: inline-flex;

        > [btn] {
            width: 30px;
            min-width: unset;
        }

        > [btn=tree_caret] {
            visibility: hidden;
        }

        > div {
            flex-grow: 1;
        }
    }

    &.lapse {
        > div {
            > [btn=tree-caret] {
                animation: rotate90 200ms forwards;
            }
        }

        > ul {
            display: none;
        }
    }

    [btn=tree-unremove] {
        display: none;
    }

    &.is-removed {
        > .parent {
            text-decoration: line-through;
            color: $color_disabled;

            > [btn=tree-remove] {
                display: none;
            }

            > [btn=tree-unremove] {
                display: block;
            }
        }

        .tree > .parent {
            text-decoration: line-through;
            color: $color_disabled;
        }
    }
}

p-tree.tree {
    list-style: none;
    padding: 0;

    > div {
        display: flex;

        > [btn=tree-add] {
            width: 100%;
        }
    }

    > ul {
        margin-top: 0;
        margin-left: 0 !important;
        background: none !important;
    }

    ul {
        list-style: none;
        transform-origin: top;
        margin-left: 40px;
        padding: 0;
        background: rgba(0,0,0,0.03);
    }
}

@keyframes rotate90 {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(-90deg);
    }
}


//---- notifs
#appNotifs {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    bottom: 0;
    align-items: flex-end;
    padding: $default_spacing;
    z-index: 200; //must above apploadcover
    right: 0;

    .notif {
        min-width: 250px; /* Set a default minimum width */
        max-width: 100%;
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        padding: 18px 15px; /* Padding */
        position: relative;
        margin-bottom: $default_spacing;
        height: 48px;
        border-left: 5px solid transparent;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.red {
            border-color: $color_red_dark;
            background: $color_red;
            font-weight: bold;
        }

        &.green {
            border-color: $color_green_dark;
            background: $color_green;
            font-weight: bold;
        }

        &.short {
            -webkit-animation: notifin 0.5s, notifout 0.5s 2.5s forwards;
            animation: notifin 0.5s, notifout 0.5s 2.5s forwards;
        }

        &.long {
            -webkit-animation: notifin 0.5s, notifout 0.5s 3.3s forwards;
            animation: notifin 0.5s, notifout 0.5s 3.3s forwards;
        }

        &.longer {
            -webkit-animation: notifin 0.5s, notifout 0.5s 4s forwards;
            animation: notifin 0.5s, notifout 0.5s 4s forwards;
        }
    }
}

/* Animations to fade the snackbar in and out */
@keyframes notifin {
    from {
        margin-top: -48px;
        transform: translateY(100%);
    }

    to {
        margin-top: 0;
        transform: translateY(0);
    }
}

@keyframes notifout {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(120%);
    }
}

//--- label
p-label {
    padding: 2px 5px;
    //border-radius: 5px;
    color: white;
    font-size: small;
    font-weight: bold;
    border-left: 3px solid transparent;
    margin: 0 3px;
    border-right: 3px solid transparent;
    display: inline-block;
    background: rgba(0,0,0,0.04);

    &[lbl='default'] {
        color: #666;
        border-color: #666;
        background: rgba(#666, 0.1);
    }

    &[lbl='green'] {
        color: $color_green_goggle;
        border-color: $color_green_goggle;
        background: rgba($color_green_goggle, 0.1);
    }

    &[lbl='red'] {
        color: $color_red_goggle;
        border-color: $color_red_goggle;
        background: rgba($color_red_goggle, 0.1);
    }

    &[lbl='orange'] {
        color: $color_yellow;
        border-color: $color_yellow;
        background: rgba($color_yellow, 0.1);
    }

    &[lbl='blue'] {
        color: $color_blue_goggle;
        border-color: $color_blue_goggle;
        background: rgba($color_blue_goggle, 0.1);
    }
}

//--- styiling
.txt-orange {
    color: $color_yellow;
}

.txt-red {
    color: $color_red_goggle;
}

.txt-blue {
    color: $color_blue_goggle;
}

.txt-green {
    color: $color_green_goggle;
}

.bg-orange {
    background: $color_yellow;
}

.bg-red {
    background: $color_red_goggle;
}

.bg-blue {
    background: $color_blue_goggle;
}

.bg-green {
    background: $color_green_goggle;
}

//-- progressbar
.progress {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 100px;
    overflow: hidden;
    text-align: right;
    padding-right: 5px;
    background: rgba(100,100,100,0.1);

    .bar {
        background: $color_blue_goggle;
        height: 100%;
        display: inline-block;
        position: absolute;
        left: 0;
        transform-origin: left;
        width: 0;
        animation: span-x 0.3s cubic-bezier(0.74, 0.03, 0.27, 1.55) forwards;
        transition: width 0.3s cubic-bezier(0.74, 0.03, 0.27, 1.55);
    }

    label {
        z-index: 3;
        margin: 0 auto;
        color: rgba(0,0,0,0.7);
        padding: 3px;
        position: relative;
        font-weight: bold;
    }
}

@keyframes span-x {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes span-y {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes span {
    from {
        transform: scaleX(0) scaleY(0);
    }

    to {
        transform: scaleX(1)scaleY(1);
    }
}


//--- dropdown
.dropdown {
    position: relative;
    /*>button::after{
        content:'v';
        border-left:3px;
        font-size:x-small;
        margin-left:4px;
    }*/
    ul {
        position: absolute;
        z-index: 30;
        list-style: none;
        padding-left: 0;
        background: white;
        border: 1px solid #eee;
        margin: 0;

        &:not(.on) {
            display: none;
        }

        li {
            button {
                width: 100%;
                text-align: left;
                justify-content: flex-start;
            }
        }
    }
}

//---- action bar
.actions {
    &:not(:first-child) {
        margin-top: 10px;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &:not(.p-row) {
        button:not(:last-child) {
            margin-right: 10px;
        }
    }
}

//--- icon in button
p-menu, button[btn], a[btn] {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgba(0,0,0,0.1);
    }

    i:not(:only-child) {
        float: left;
    }

    > b {
        white-space: nowrap;
        float: left;

        &:not(:only-child) {
            padding-left: 5px;
            float: left;
        }
    }
}

//--- button style
button[btn], a[btn] {
    @include button-text;
    min-width: 80px;
    padding: 0 5px;

    &[disabled] {
        color: $color_disabled;
    }

    &.block {
        @include button-block;

        &:hover {
            background: $color_secondary;
        }

        &[disabled] {
            background: $color_disabled;
        }
    }
}


//crud card
.crud-card {
    .actions {
        display: flex;

        [btn] {
            min-width: 10mm;
            margin-right: 0 !important;
        }
    }

    .body {
        .actions {
            justify-content: center;

            .input {
                width: unset;
            }

            input {
                margin-right: 5px;
            }

            [btn=prev] {
                margin-right: 0;
            }
        }
    }

    .v-paging {
        padding-top: 10px;
        text-align: center;
    }
}
//chooser
.chooser-dialog {
    p-body {
        .actions {
            .ch-search {
                width: 100%;
            }

            [btn] {
                min-width: 10mm;
            }
        }

        .ch-item {
            &.ch-ek {
                > p-c:first-child {
                    border-left: 4px solid $color_primary;
                }

                > p-c {
                    background-color: rgba($color_primary, 0.3);
                }
            }
        }
    }

    p-foot {
        p-body {
            align-items: center;
            justify-content: center;

            .ch-status {
                white-space: nowrap;
                min-width: 100px;
                padding: 10px;

                b {
                }

                .ch-count::before {
                    content: '/';
                }
            }
        }
    }
}

.list-card {
    .body {
        .actions {
            justify-content: center;

            [btn] {
            }
        }
    }
}

.img-chooser-dialog {
    .dropzone {
        //        background: rgba(0,0,0,0.05);
        display: flex;
        flex-wrap: wrap;
        min-width: 400px;
        min-height: 200px;

        .dz-message {
            order: 99;
            background: rgba(0,0,0,0.05);
            margin: $default_spacing;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 300px;
            min-height: 50px;
            text-align: center;

            &:only-child {
                margin: 0;
            }
        }

        .dz-details, .dz-image-preview {
            width: 130px;
            padding: $default_spacing;

            &.selected {
                border: 3px solid $color_primary_light;
            }

            img {
                width: 100%;
            }

            .dz-filename {
                font-size: smaller;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 40px;
                background: $color_primary_light;
                color: #fff;
                padding: 3px;
            }
        }
    }
}

.upload-excel-dialog {
    .dropzone {
        display: flex;
        margin-top: $default_spacing;
        min-height: 300px;

        .dz-message {
            background: rgba(0,0,0,0.1);
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 500px;
            justify-content: center;
            margin-right: $default_spacing;

            h4 {
                font-size: larger;
                color: #999;
                font-weight: bold;
            }
        }
    }

    h4 {
        margin: 0;
    }

    .dropzone-previews {
        max-height: 450px;
        overflow: auto;
    }

    a.dz-details {
        padding: 5px;
        display: flex;
        align-items: center;
        color: $color_text !important;
        text-decoration: none;
        position: relative;

        &:hover {
            background: $color_secondary_transparent;
        }

        .upex-status {
            font-size: smaller;
            color: #777;
        }

        > div {
            flex-grow: 1;
        }

        &::before {
            content: '';
            font-family: FontAweSome;
            display: inline-block;
            font-size: 25px;
            padding-right: $default_spacing;
        }

        &.upex-success::before {
            content: '\f058';
            color: $color_green;
        }

        &.upex-error::before {
            content: '\f06a';
            color: $color_red;
        }
    }
}

//comma separated
.comma-sep > *:not(:last-child)::after {
    content: ',';
    font-weight: bold;
    color: $color_primary_light;
}

.stripify {
    > *:nth-child(2n+1) {
        background-color: rgba(250,250,250,0.5);
    }

    > *:nth-child(2n) {
        background-color: rgba(0,0,0,0.05);
    }
}

//--- outline
*:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px rgba($color_secondary_light, 0.8);
    //    border-color: transparent !important;
}
