@import '_variables.scss';

$pbody_bgcolor: $color_grey_med;

body {
    color: $color_text;
    display: inline-flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    @include fix-container(0);
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    line-height: 1;
}

#appHeader {
    background-color: $appheader_color;
    color: white;
    height: $appheader_height;
    min-height: $appheader_height;
    flex-basis: $appheader_height;
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    //    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    z-index: 90;
    border-bottom: 1mm solid $pbody_bgcolor;

    > div {
        display: flex;
        align-items: center;
        min-width: 0;

        &:last-child {
            padding-left: 15px;
            flex-shrink: 0;
        }
    }

    p-menu {
        height: $appheader_height;
        padding: 0 10px;
        font-weight: bold;
        font-size: 1.1em;
        position: relative;
        cursor: default;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;

        $menuhighlight: $color_secondary;

        &:hover {
            background: rgba(255,255,255,0.1);
        }

        &[is-active] {
            background: $color_grey_med;
            color: $color_primary;
            flex-shrink: 0;

            > a {
                color: $color_primary;
            }
        }

        > a {
            display: block;
            overflow: hidden;
            -ms-text-overflow: clip;
            -o-text-overflow: clip;
            text-overflow: clip;
            color: #fff;
            text-decoration: none;
        }
    }
}

#appBody {
    position: relative;
    flex-grow: 1;
    background: $pbody_bgcolor;

    > p-app-content {
        @include absolute-container(0);

        &[is-active]{
            
            /*>.menus{
                animation: slide ease-in 150ms;
            }

            >.contents{
                animation:fadein ease 200ms;
            }*/
        }

        &:not([is-active]) {
            display: none;
        }
    }
}

@keyframes slide{
    from {
        /*opacity:0;*/
        transform:translateX(-100%);
    }

    to {
        /*opacity:1;*/
        transform:translateX(0);
    }
}

#appMainMenus{
    flex-grow:1;

    p-menu{
        flex-grow:1;
        max-width:140px;

        i{
            margin-right:10px;
        }

        a{
            overflow:hidden;
        }
    }
}

.vertical-menu {
    @include absolute-container(0);
    display: inline-flex;

    $color_submenu_highlight: rgba(100,100,100,0.2);

    > .menus {
        right: unset;
        display: inline-flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-align-content: center;
        -webkit-align-content: center;
        align-content: center;
        z-index: 20;
        border-right: 2px solid $color_submenu_highlight;
        white-space: nowrap;
        margin: $default_spacing 0;
        min-width: 120px;
        flex-shrink: 0;

        > p-menu {
            margin-bottom: 3px;
            padding: 5px $default_spacing;
            min-height: 12mm;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 13px;
            cursor: default;

            i {
            }

            a{
                color:#444;
            }

            &[is-active] {
                background-color: $color_submenu_highlight;
                border-left: 4px solid $color_primary;
                padding-left: 6px;
            }

            &:hover {
                background: rgba(100,100,100,0.07);
            }
        }
    }

    > .contents {
        flex-grow: 1;
        position: relative;
        display: flex;

        > p-content {
            flex-grow: 1;
            overflow: auto;
            position: relative;

            &:not([is-active]) {
                display: none;
            }

            &.no-pad {
                padding: 0;
            }
        }
    }
}

//--- only show header and body
#appParts, #appSamples {
    display: none;
}

#appPrintArea {
    display: none;
    /*width:0;
    height:0;
    position:fixed;*/
}

@media print {
    #appPrintArea {
        display: block;
    }

    body > :not(#appPrintArea) {
        display: none !important;
    }
}
