$color_primary: #8A2A86;
$color_primary_light: #a32d9e;
$color_primary_dark: #751d71;

$color_secondary: #0F9D58; // #1C9E50;
$color_secondary_light: #8BC34A; // #12c158;
$color_secondary_dark: #18743d;
$color_secondary_transparent: rgba(139, 195, 74, 0.33);

$color_border_input: #ccc;

$color_grey_med: #eee;
$color_grey_dark: #ddd;


$color_green: #4caf50;
$color_green_dark:#388E3C;
$color_red: #d32f2f;
$color_red_dark:#b71c1c;
$color_blue: #2196F3;
$color_blue_dark: #1976D2;


$color_green_goggle: #3cba54;
$color_red_goggle: #db3236;
$color_yellow: #f4c20d;
$color_blue_goggle: #4885ed;

$color_text: #444444;
$color_disabled: rgba(168, 168, 168, 0.3);

$appheader_color: $color_primary;
$appheader_height: 12mm;

$default_spacing: 10px;
$line_height_roomy: 1.4;

@mixin fix-container($top) {
    position: fixed;
    top: $top;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

@mixin absolute-container($top) {
    position: absolute;
    top: $top;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

@mixin bar-above($color, $width: 3px) {
    &:before {
        content: '';
        display: block;
        border-top: $width solid $color;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

@mixin bar-bellow($color, $width: 3px) {
    &:before {
        content: '';
        display: block;
        border-bottom: $width solid $color;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@mixin button-text {
    background: none;
    border: none;
    min-width: 10mm;
    min-height: 8mm;
    color: $color_secondary_dark;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin button-block {
    background: $color_secondary_dark;
    border: none;
    border-radius: 0;
    min-width: 10mm;
    min-height: 8mm;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.color-prim{
    color:$color_primary;
}

.color-second{
    color:$color_secondary;
}